<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--sweet alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--jquery-->
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<!--CUSTOMS-->
<script src="/js/index.js" defer></script>
<script src="/js/locacao.js" defer></script>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RAM Gratis 4k</a>
        <li class="nav-item">
            <a class="nav-link" href="#">Locacao</a>
        </li>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a id="btn-logout" class="btn btn-danger">Logout</a>
    </div>
</nav>
<div class="container">

    <div th:if="${mensagem != null}" class="container">
        <h1 class="text-center" style="background: #F00; color: #FFF" th:text="${mensagem}"></h1>
    </div>
    <h1 class="text-center mt-5 mb-5">Locação</h1>

    <div class="input-group mb-3">
        <span class="input-group-text">Check Out</span>
        <input id="chkout" name="checkout" type="date" class="form-control" placeholder="Check-Out">
    </div>
    <button id="achar" class="btn btn-danger mb-3">Achar Quarto</button>
    <div id="achado" class="d-none">
    <form action="/cadLocacao" method="POST">
      <select name="quarto" class="form-select">
        <option selected>Quarto</option>

      </select>

        <div class="input-group mb-3">
            <span class="input-group-text">Check Out</span>
            <input id="chkout2" name="checkout" type="date" class="form-control" placeholder="Check-Out">
        </div>

        <div  class="col-6 text-end">
            <button type="submit" class="btn btn-danger">Locação</button>
        </div>
    </form>

    <br>
    <div>
    <h2>Classe: <span id="classe"></span></h2>
    <h2>Preço: <span id="preco"></span></h2>
    <h2>Camas: <span id="camas"></span></h2>
    <h2>Descrição: <span id="desc"></span></h2>

        <!--<div class="input-group mb-3">
            <span class="input-group-text">Check In</span>
            <input name="checkin" type="date" class="form-control" placeholder="Check-In">
        </div>-->
    </div>
    </div>

</div>
</body>
</html>